<div class="container" id="signupContainer">
  <%= render 'shared/errors', obj: @user %>
  <div class="row justify-content-center">
    <div class="col-5">
     <div class="card" id="signupCard">
       <h2 class="card-title text-center" id="signupHeader">Register</h2>
       <div class="card-body py-4">
         <%= form_for(@user, :html => {role: "form"}) do |f| %>
           <div class="form-group">
             <%= f.text_field :username, class: "form-control", id: "signupName", placeholder: "Username", autofocus: true %>
           </div>

           <div class="form-group">
             <%= f.email_field :email, class: "form-control", id: "signupEmail", placeholder: "Email" %>
           </div>

           <div class="form-group">
             <%= f.password_field :password, class: "form-control", id: "signupPassword", placeholder: "Password" %>
           </div>
           <div class="form-group" id="signupdiv">
            <%= f.submit "Signup", class: "btn btn-success btn-lg", id: "signupButton" %>
           </div>
         <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
